<div class="main">
  <h2>Your Vitamin Statistics</h2>
  <table>
      <tr>
        <td>Total Monthly Expenditures: </td>
        <td><%= number_to_currency(@totalcost) =%></td>
      </tr>
      <tr>
        <td>Total Active Vitamins: </td>
        <td><%= @vitamincount =%></td>
      </tr>
    </table>

    <%= column_chart ([["General", @general], ["Antioxidant", @antioxidant], ["Longevity", @longevity],
    ["Mood", @mood], ["Skin", @skin], ["Digestive", @digestive], ["Cell Repair", @cellrepair],
    ["Energy", @energy], ["Alertness", @alertness], ["Sleep", @sleeping], ["Eyes", @eyes],
    ["Bones", @bones]]) %>

  <%= button_to "Back", vitamins_index_path, method: :get, class: "buttons back" %>
</main>
