/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#main-landing {
   text-align: center;
 }

 body {
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 1.5em;
   background-image: url("vitamins.png");
   background-size: 75%;
   background-repeat: no-repeat;
   background-color: hsla(0,0%,100%,0.70);
   background-blend-mode: overlay;
 }

 header {
  border: 2px solid black;
  margin-bottom: 2%;
 }

 nav {
   font-size: 1em;
   padding: .5%;
   background-image: url("to-do.jpg");
   background-size: 11%;
   background-repeat: repeat-y;
   background-position: center center;
 }
